.parent{
	-fx-border-radius:60px;
}

.sidebar{
	-fx-background-color:linear-gradient(to bottom right, #4c4ca6, bd8edb);
}

.menu_button:hover{
	-fx-background-color:#bd8edb;
}

.icon_power:hover{
	-fx-text-fill:'red';
}

.default_text{
	-fx-font-family:'Verdana';
}

.template_text_button{
	-fx-text-fill:white;
	-fx-background-color:'slateblue';
	-fx-background-radius:22;
	-fx-font-weight:bold;
}

.template_text_button:hover{
	-fx-text-fill:slateblue;
	-fx-background-color:'white';
	-fx-font-weight:bold;
	-fx-background-radius:22;
}

.title_text{
	-fx-font-family:'Verdana';
		
}

.add_button{
	-fx-background-color:#8ac656;
	-fx-background-radius:100%;
}

.add_button:hover{
	-fx-border-width:40px 40px 40px 40px;
}
